<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>[title]</title>-->
<!--    <meta name="keywords" content="[keywords]" />-->
<!--&lt;!&ndash;    <link rel="stylesheet" type="text/css" href="../static/css/basic.css">&ndash;&gt;-->
<!--&lt;!&ndash;    <script type="text/javascript" src="../static/js/basic.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" type="text/css" href="__CSS__/basic.css">&ndash;&gt;-->
<!--&lt;!&ndash;    <script type="text/javascript" src="__JS__/basic.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    {load href='__CSS__/basic.css'/}&ndash;&gt;-->
<!--&lt;!&ndash;    {load href='__JS__/basic.js'/}&ndash;&gt;-->
<!--&lt;!&ndash;    {load href='__CSS__/basic.css, __JS__/basic.js'}&ndash;&gt;-->
<!--&lt;!&ndash;    {js href='__JS__/basic.js'}&ndash;&gt;-->
<!--&lt;!&ndash;    {css href='__CSS__/basic.css'}&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--这是头部-->
3333
