<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--  {$arr.name}->{$arr.age}-->
{$obj->name}--{$obj->age}--{$obj->fn()}--{$obj::PI}
<!--{$data.name |default=' 没有姓名'}-->
{$Request.get.id}
{$Request.param.name}
{$Request.host}
<br/>
{$Think.const.PHP_VERSION}
{$Think.PHP_VERSION}
{$Think.config.app.app_host}
{$Think.config.session.name}
<br/>
{$password|md5|raw}
<br/>
{$time|date='Y-m-d'}
<br/>
{$arr.name|substr=0,3}--{:substr(strtoupper(md5($password)), 0, 3)}
<br/>
{$password|md5|upper|substr=0,3}
<br/>
{$number + $number}
<br/>
{$name ?'正确':'错误'}---{$name?='真'}---{$Request.get.name ?? '不存在'}---{$name ?: '不存在'}
<br/>
{$a == $b ? '真' : '假'}
</body>
</html>